@import "tailwindcss";

html,
body,
#root {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  position: relative;
  overscroll-behavior-x: none;
  touch-action: pan-y;
  display: flex;
  background-color: #312c85;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}
